target
dependency-reduced-pom.xml
# Vim swap files
*.sw?
# gedit swap files
*~
# Eclipse stuff
.classpath
.project
.settings
# Coverity stuff
cov-int*
# Maven stuff
*.iml
*.versionsBackup
# download directory
/data*
# any inline-generated VCF/Jannovar files
*.jannovar
*.vcf
*.vcf.idx
*.ped
log.txt
data
# built manual
manual/_build
# Java Mission Control flight recorder files
*.jfr
.attach_pid*
